
<div class="row bg-light">
    @Html.Partial("~/Views/Shared/_StoryForm.cshtml")
</div>
@*<div class="row text-center">
    <div class="col-3 h4"></div>
    <div class="col-6 h4 btn btn-outline-success">See more</div>
    <div class="col-3 h4"></div>
</div>*@
