@model IEnumerable<DemoFIN3.Core.Models.Category>


<ul class="nav nav-pills flex-column">
    @foreach (var item in Model)
    {
        <li class="nav-item">
            @Html.ActionLink(item.Name, "StoriesByCategory", "Stories", new { name = item.Name }, new { @class = "nav-link text-dark" })
        </li>
    }
</ul>



